/* OrderForm.module.css */
.formContainer {
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #000000;
}

.textField {
    margin-bottom: 16px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.textField input {
    color: #686767;
}

.textField label {
    color: #B1B1B1 !important;
}

.textFieldDisabled {
    background-color: #f5f5f5;
    color: #000000;
}

.addButton {
    margin-top: 16px;
    background-color: #4CAF50;
    color: white;
}

.addButton:hover {
    background-color: #45a049;
}
